<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title>Login</title>
</h:head>
<h:body styleClass="body">
	<h:outputStylesheet library="ecommerce" name="css/login.css" />

	<h:messages styleClass="validation-messages"></h:messages>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel for="username">Username</h:outputLabel>
			<h:inputText styleClass="inputtext" id="username" value="#{loginController.username}"
				required="true" requiredMessage="Please enter your user name"></h:inputText>

			<h:outputLabel for="password">Password</h:outputLabel>
			<h:inputSecret styleClass="inputtext" id="password" value="#{loginController.password}"
				required="true" requiredMessage="Please enter your password"></h:inputSecret>

			<h:outputText value="" />
			<h:commandButton styleClass="button" value="Submit" action="#{loginController.submit}" />
		</h:panelGrid>
	</h:form>


</h:body>
</html>
