<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition template="/templates/template.xhtml">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<ui:param name="pageTitle" value="Products" />
	<ui:define name="main-div">
		<section>
			<ui:fragment>
				<h:form>
					<h4>Add Product</h4>

					<h:messages styleClass="validation-messages"></h:messages>
					<h:panelGrid columns="2">
						<h:outputLabel for="productname">Name</h:outputLabel>
						<h:inputText id="productname"
							value="#{productController.productname}" required="true"
							requiredMessage="Please enter a product name"></h:inputText>

						<h:outputLabel for="price">Price</h:outputLabel>
						<h:inputText id="price" value="#{productController.price}"
							required="true" requiredMessage="Please enter a price"
							validatorMessage="Please enter number only">
							<!-- 						<f:validateRegex pattern="^[0-9]*$"></f:validateRegex>-->
						</h:inputText>
						<h:outputText value="" />
						<h:commandButton value="Submit" action="#{productController.add}" />
					</h:panelGrid>
				</h:form>
			</ui:fragment>
			<hr></hr>
			<br></br>

			<ui:fragment>
				<h:form>
					<h:dataTable value="#{productController.products}" var="prod"
						styleClass="productTable" headerClass="productTableHeader"
						rowClasses="productTableOddRow,productTableEvenRow">

						<h:outputStylesheet library="ecommerce" name="css/product.css" />
						<h:column>
							<f:facet name="header">Name</f:facet>    				
  				    #{prod.name}
 				  </h:column>
						<h:column>
							<f:facet name="header">Price</f:facet>
   				   #{prod.price}
 				  </h:column>
						<h:column>

							<f:facet name="header">
								<h:commandButton value="refresh"
									action="#{productController.refresh}"></h:commandButton>
							</f:facet>
							<h:commandButton  value="edit"
								action="#{productController.select(prod)}"></h:commandButton>
							<h:commandButton value="delete"
								action="#{productController.delete(prod)}"></h:commandButton>
						</h:column>
					</h:dataTable>


				</h:form>
			</ui:fragment>

			<ui:fragment rendered="#{productController.showEditPanel}">
				<h:form >
					<h4 >Edit Product</h4>
					<h:messages styleClass="validation-messages"></h:messages>
					<h:panelGrid columns="2">
						<h:outputLabel  for="productname">Name</h:outputLabel>
						<h:inputText id="productname"
							value="#{productController.selectedProduct.name}" required="true"
							requiredMessage="Please enter a product name"></h:inputText>

						<h:outputLabel for="price">Price</h:outputLabel>
						<h:inputText id="price"
							value="#{productController.selectedProduct.price}"
							required="true" requiredMessage="Please enter a price"
							validatorMessage="Please enter number only">
						</h:inputText>
						<h:outputText value="" />
						<h:commandButton value="Update"
							action="#{productController.update}" />
					</h:panelGrid>
				</h:form>
			</ui:fragment>
		</section>
	</ui:define>
	
	
</ui:composition>

</html>
