<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition template="/templates/template.xhtml">

	<ui:param name="pageTitle" value="Test1" />
	<ui:define name="top-div">
		<section>
			<h1>Testing Top Div</h1>
			
		</section>
	</ui:define>
	<ui:define name="main-div">
		<section>
			<h1>Testing main div</h1>
			
		</section>
	</ui:define>
</ui:composition>

</html>
