<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<h:head>

		<title>Test 2</title>
	</h:head>
	<h:body>
	<h:commandButton  value="refresh" action="#{testingController.refresh}"></h:commandButton>
				<h1>Welcome!</h1>
				<h1>Main Panel</h1>
				<p>Placeholder text.</p>
	</h:body>
</html>
