<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<f:view contentType="text/html">
	<h:head>

		<meta charset="UTF-8" />
		<title>#{pageTitle}</title>
		
	</h:head>
	<h:body style="overflow:scroll; height:400px;">
			<h:outputStylesheet library="ecommerce" name="css/template.css" />
		<header>
			<ul>
				<li><h:link styleClass="link" value="Products" outcome="product" /></li>
				<li><h:link styleClass="link" value="Test 1" outcome="test1" /></li>
				<li><h:link styleClass="link" value="Contact Us" outcome="test1" /></li>
				<li><h:link styleClass="link" value="About" outcome="test1" /></li>
				<li><h:form><h:commandButton styleClass="link" value="Logout" action="#{loginController.logout}"/></h:form></li>
			</ul>
		</header>
		<ui:insert name="top-div">
			<section>
				<h1><h:outputLabel value="Welcome #{loginController.currentUser.username}"> </h:outputLabel></h1>
			</section>
		</ui:insert>
		<ui:insert name="main-div">
			<section>
				<h1>Main Panel</h1>
				<p>Placeholder text.</p>
			</section>
		</ui:insert>
		<!-- <footer class="footer">
			<p>Thanks!</p>
		</footer> -->
	</h:body>
</f:view>
</html>
