.productTable {   
   border-collapse:collapse;
   border:1px solid #000000;
   width: 50%;
}

.productTableHeader {
   text-align:center;
   background:none repeat scroll 0 0 #B5B5B5;
   border-bottom:1px solid #000000;  
   padding:2px;
}

.productTableOddRow {
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFFF;	
}

.productTableEvenRow {
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}
